body {
	font-family: Ms Gothic;
	margin-bottom: 50px;
	background-color: #463947;

}

ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

li a:hover {
	background-color: #585858;
}
	