body {
	font-family: Ms Gothic;
	text-align: center;
	color:#ffffff;
	margin: auto;
	max-width: 800px;
	max-height: 800px;
	padding: 40px;
	background-color: #000000;
}

ul {
	list-style-type: none;
	max-width: auto;
	margin: auto;
	padding: 8px;
	border: #ffffff 1px solid;
	font-size: 20px;
	word-spacing: 55px;
}

a:link {
	color: #807088;
	text-decoration: none;
}

a:visited {
	color: #807088;
	text-decoration: none;
}

a:hover {
	color: #DAB2C5;
	text-decoration: underline;
}

a:active {
	color: #ffffff;
	text-decoration: none;
}

.dropbtn {
	background: none;
	color: #807088;
	padding: auto;
	font-family: Ms Gothic;
	font-size: 20px;
	border: none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }

  .dropdown-content {
	display: none;
	position: absolute;
	background: none;
	border: white 2px solid;
	min-width: 120px;

  }
  .dropdown-content a {
	background-color: #ffffff30;
	color: #DAB2C5;
	padding: 8px 10px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #80708885;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color:#DAB2C5;
				text-decoration: underline;}
	